[build]
  command = "npm run build"
  publish = "dist"

[dev]
  targetPort = 3000

[functions]
  directory = "netlify/functions"

[[edge_functions]]
  function = "proxy-upload"
  path = "/proxy-upload"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
